In [7]:
# Importing Libraries and Display Settings
import pandas as pd
import numpy as np

pd.set_option("display.max_columns",100)
pd.set_option("display.width",100)

In [13]:
# Loading the Dataset
df = pd.read_csv("C:/Users/Sandeep/Downloads/archive (1)/user_behavior_dataset.csv")
df.head()

   age  income  score  height  weight  visits  clicks  time_spent  target
0   39   59796  0.435   154.8    45.0       8       4         191       1
1   33   48031  0.709   164.3    63.9       5       4         366       0
2   41   45971  0.316   168.3    68.5       9       3         209       1
3   50   48756  0.508   189.0    94.7       9       5         314       0
4   32   35634  0.371   177.0    60.6      11       5         384       1

In [15]:
# Getting the Dataset Shape and Column Names
print("Rows,Columns:", df.shape)
df.columns

Rows,Columns: (1000, 9)

Index(['age', 'income', 'score', 'height', 'weight', 'visits', 'clicks', 'time_spent', 'target'], dtype='object')

In [19]:
# Getting Data Types & Non-Null Counts
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         1000 non-null   int64
 1   income      1000 non-null   int64
 2   score       1000 non-null   float64
 3   height      1000 non-null   float64
 4   weight      1000 non-null   float64
 5   visits      1000 non-null   int64
 6   clicks      1000 non-null   int64
 7   time_spent  1000 non-null   int64
 8   target      1000 non-null   int64
dtypes: float64(3), int64(6)
memory usage: 70.4 KB

In [29]:
# Check for Missing Values
df.isnull().sum().sort_values(ascending = False)

age           0
income        0
score         0
height        0
weight        0
visits        0
clicks        0
time_spent    0
target        0
dtype: int64

In [33]:
# Check for Duplicates
df.duplicated().sum()

0

In [43]:
# Descriptive Stats Overview
df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,1000.0,34.812000,9.462991,18.0,28.000,35.0000,41.00000,65.000
income,1000.0,42433.235000,16343.081256,8000.0,31268.250,40328.5000,51475.75000,112113.000
score,1000.0,0.472451,0.148494,0.0,0.362,0.4715,0.57625,0.862
height,1000.0,171.846000,9.200383,150.0,165.375,172.0000,178.00000,200.000
weight,1000.0,71.521300,14.640870,45.0,61.500,71.4000,81.70000,128.700
visits,1000.0,9.256000,3.595747,1.0,7.000,9.0000,11.00000,22.000
clicks,1000.0,5.561000,2.755335,0.0,4.000,5.0000,7.00000,16.000
time_spent,1000.0,371.404000,145.022123,30.0,271.750,354.0000,463.25000,954.000
target,1000.0,0.290000,0.453989,0.0,0.000,0.0000,1.00000,1.000

In [64]:
# Examining the data types
df.dtypes

age             int64
income          int64
score         float64
height        float64
weight        float64
visits          int64
clicks          int64
time_spent      int64
target          int64
dtype: object

In [80]:
# Analyzing the Target Variable
df["target"].value_counts(dropna=False), df["target"].value_counts(normalize=True)

(target
 0    710
 1    290
 Name: count, dtype: int64,
 target
 0    0.71
 1    0.29
 Name: proportion, dtype: float64)